#title {
     opacity: 0.7;
     padding-top: 0.2vw;
     text-align: center;
     border-bottom: 1.3px solid #ddd;
}

h1 {
     font-size: 2vw;
     font-weight: 400;
     letter-spacing: 3px;
     font-family: Helvetica, sans-serif;
     -webkit-margin-after: 0.3em !important;
}

#nav {
     padding-top: 0.5vw;
     text-align: center;
}

.nav-img {
     opacity: 0.3;
     width: 2vw;
     height: 2vw;
}

.nav-img:hover {
     opacity: 0.7;
}
